<!-- Define your frontend here. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/createIOUModal.js"></script>
    <script src="js/issueCashModal.js"></script>
    <script src="js/transferModal.js"></script>
    <script src="js/settleModal.js"></script>
    <script src="js/sellModal.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
    <style>
    table, th, td {
                    border: 1px solid #becfde;
                 }
     </style>
</head>
<!--script>var todayDate= new Date().toISOString().slice(0,10);
document.getElementById("txndate").innerHTML=todayDate;z
var random=parseInt(Math.random()*20);
document.getElementById("txnid").innerHTML=todayDate;

</script> -->
<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp" background="thrive.png">
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Smart Transfer Agent    :</span>
            <div class="mdl-layout-spacer">

            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <!--<label class="mdl-button mdl-js-button mdl-button--icon" for="search">-->
                <!-- <i class="material-icons">search</i>-->
                <button ng-click="demoApp.refresh()" type="button" class="btn btn-default navbar-btn"><span
                        class="glyphicon glyphicon-refresh"></span></button>
                <!--</label>-->
                <div class="mdl-textfield__expandable-holder">
                </div>
            </div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">

            <div class="demo-avatar-dropdown">
                <span>{{demoApp.thisNode}}</span>
                <!--      <div class="mdl-layout-spacer"></div>
                 <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                     <i class="material-icons" role="presentation">arrow_drop_down</i>
                     <span class="visuallyhidden">Accounts</span>
                 </button>
                 <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
          </ul>-->
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Home</a>
<!--            <button ng-show="demoApp.thisNode!='CN=FM,O=NodeB'" ng-click="demoApp.openCreateIOUModal()" type="button" class="btn btn-primary navbar-btn">Buy</button>
            <button ng-show="demoApp.thisNode!='CN=FM,O=NodeB'" ng-click="demoApp.opensellModal()" type="button" class="btn btn-primary navbar-btn">Sell</button>-->
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
    </div>
    <!--<nav class="navbar navbar-default" style="position: fixed;z-index: 10;width: 100%;height: 5%">-->
    <div class="container-fluid">


    </div>




    <!--  To get the total portfolio for that particular investor     -->
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">


        </div>

        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

            <div ng-show="!demoApp.ious.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">There are no recorded Trades</h3>
                </div>
                <div class="panel-body">Use the "Buy/Sell" button to send an Trade to a Transfer Agent.</div>
            </div>
            <div ng-show="demoApp.ious.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction History:</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Transaction ID</th>
                            <th>Transaction Type</th>
                            <th>Fund ID</th>
                            <th>Investor ID</th>
                            <th>NAV</th>
                            <th>Transcation Amount</th>
                            <th>Units</th>
                            <th>KYC Validated</th>
                            <th>Transaction Status</th>
                            <th>Currency</th>
                            <th>Amount Paid</th>
                            <th>Transaction Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="iou in demoApp.ious"  ng-if="iou.txnStatus == 'Settled'">
                            <td class="vert-align">{{iou.lender}}</td>
                            <td class="vert-align">{{iou.borrower}}</td>
                            <td class="vert-align">{{iou.linearId.id}}</td>
                            <td class="vert-align">{{iou.txType}}</td>
                            <td class="vert-align">{{iou.fundId}}</td>
                            <td class="vert-align">{{iou.lender.substring(3,10)}}</td>
                            <td align="right">{{iou.nav}}</td>
                            <td align="right">{{iou.transactionAmount}}</td>
                            <td align="right">{{iou.units}}</td>
                            <td class="vert-align">{{iou.kycValidated}}</td>
                            <td class="vert-align">{{iou.txnStatus}}</td>
                            <td class="vert-align">{{iou.ccy}}</td>
                            <td align="right">{{iou.amountPaid}}</td>
                            <td class="vert-align">{{iou.transactiondate}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>
    </main>



    <!-- This is where it was earlier -->

</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>